[submodule "BearCore"]
	path = BearCore
	url = https://github.com/TheBearProject/BearCore
[submodule "BearGraphics"]
	path = BearGraphics
	url = https://github.com/TheBearProject/BearGraphics
[submodule "BearRender/BearDirectx"]
	path = bearrender/BearDirectx
	url = https://github.com/TheBearProject/BearDirectx
[submodule "BearRender/BearVulkan"]
	path = bearrender/BearVulkan
	url = https://github.com/TheBearProject/BearVulkan