[submodule "bearcore"]
	path = bearcore
	url = https://github.com/BearIvan/bearcore
[submodule "beargraphics"]
	path = beargraphics
	url = https://github.com/TheBearProject/beargraphics
[submodule "bearui"]
	path = bearui
	url = https://github.com/TheBearProject/bearui
[submodule "bearsound"]
	path = bearsound
	url = https://github.com/TheBearProject/bearsound
[submodule "bearrender/beardirectx"]
	path = bearrender/beardirectx
	url = https://github.com/TheBearProject/beardirectx
[submodule "bearrender/bearvulkan"]
	path = bearrender/bearvulkan
	url = https://github.com/TheBearProject/bearvulkan
[submodule "bearrender/bearopengl"]
	path = bearrender/bearopengl
	url = https://github.com/TheBearProject/bearopengl
